<section style="background-color: #eee;">

    <h1 class="display-6 py-5 text-center">
        <strong>
            New Arrivals
        </strong>
    </h1>

    <div class="container py-5">
        <div class="row">
            {% for new_product in new_products %}
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100">
                        <img src="{{ new_product.image.url }}" class="card-img-top img-fluid" alt="{{ new_product.category }}"/>
                        <div class="card-body">
                            <div class="card-title" style="min-height: 100px;">
                                <p class="small text-muted"><a
                                        href="{% url 'category_view' new_product.category.slug %} "
                                        class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ new_product.category }}</a></p>
                                <h6 class="mb-0">{{ new_product.name }}</h6>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p class="text-muted mb-0">Available: <span
                                        class="fw-bold">{{ new_product.stock }}</span></p>
                                <div class="ms-auto text-warning">
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="text-dark mb-0">{{ new_product.price }} RON</h6>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <a href="{% url 'product-detail' new_product.slug new_product.id%}" class="btn btn-outline-dark">See Product</a>
                                <a href="#" class="btn btn-outline-success addToCart" data-product-id="{{ new_product.id }}">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
