<section class="gt_section-NjDtV0gUTOvg8zZ" data-name="Benefit List" style="background-color: #ffffff;">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <div class="row gx-4 justify-content-center">

          <div class="col-md-4 mb-4">
            <div class="gt_benefit_items d-flex flex-column align-items-center">
              <div class="gt_mb--small gt_benefit_icon">
                <span class="gt_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0606/5464/9600/t/9/assets/WtbDjxdYLZ-ic3-100-png_200x.png?v=1655414211" alt="Benefit Icon 1">
                </span>
              </div>
              <div class="gt_benefit_text text-center">
                <strong class="gt_subheading gt_benefit_text--title">Calitate Garantata</strong>
                  <br><br>
                <p class="gt_benefit_text--message">
                  Atunci cand comanzi de la noi ai calitatea garantata. Suntem siguri ca produsele noastre se vor ridica la nivelul asteptarilor dumneavoastra.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="gt_benefit_items d-flex flex-column align-items-center">
              <div class="gt_mb--small gt_benefit_icon">
                <span class="gt_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0606/5464/9600/t/9/assets/xmJQHRUBMx-ic2-100-png_200x.png?v=1655414204" alt="Benefit Icon 2">
                </span>
              </div>
              <div class="gt_benefit_text text-center">
                <strong class="gt_subheading gt_benefit_text--title">Plata Securizata</strong>
                  <br><br>
                <p class="gt_benefit_text--message">
                  Platile de pe site sunt procesate prin Stripe. Astfel ne asiguram ca datele dumneavoastra sunt in siguranta.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="gt_benefit_items d-flex flex-column align-items-center">
              <div class="gt_mb--small gt_benefit_icon">
                <span class="gt_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0606/5464/9600/t/9/assets/bEtdQhDMEt-ic-100-png_200x.png?v=1655414200" alt="Benefit Icon 3">
                </span>
              </div>
              <div class="gt_benefit_text text-center">
                <strong class="gt_subheading gt_benefit_text--title">Transport Gratuit</strong>
                  <br><br>
                <p class="gt_benefit_text--message">
                  Beneficiati de transport gratuit, pentru orice comanda ce depaseste suma de 200 RON.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
