<footer class="bg-dark text-white pt-5 pb-4">

    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Ecom</h5>
                <p> Here you can find information about the company and what it offers. This text is a placeholder that
                    will be changed as needed</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight text-warning">Pagini utile</h5>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none">Produse noi</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none">Reduceri de pret</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none">Cele mai cumparate</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none">Contacteaza-ne</a>
                </p>

            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight text-warning">Informatii</h5>
                <p>
                    <a href="{% url 'about-us' %}" class="text-white" style="text-decoration: none">About Us</a>
                </p>
                <p>
                    <a href="{% url 'terms-and-conditions' %}" class="text-white" style="text-decoration: none">Terms &
                        Conditions</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none">Politica de retur si livrare</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none">Plati securizate</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight text-warning">Contact</h5>

                <p>
                    <a
                            href="https://www.google.com/maps/place/Installo/@45.1808019,28.7737578,17z/data=!3m1!4b1!4m6!3m5!1s0x40b75b8c329524e5:0xc2dc31cbf65b2224!8m2!3d45.1807981!4d28.7763327!16s%2Fg%2F11s4y26w8h?entry=ttu"
                            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        <i class="bi bi-house mr-3"></i> Tulcea, Str Viitorului, 1B
                    </a>
                </p>
                <p>
                    <a href="mailto: office@Ecom.ro"
                       class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        <i class="bi bi-envelope-at mr-3"></i>office@Ecom.ro
                    </a>
                </p>
                <p>
                    <a href="tel: +40787562356"
                       class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        <i class="bi bi-phone mr-3"></i>+407834 562 356 993
                    </a>
                </p>
            </div>


        </div>

        <hr class="mb-4">

        <div class="row align-items-center">

            <div class="col-md-7 col-lg-8">
                <p> Copyright @{% now "Y" %} All rights reserved by:
                    <a href="https://liviugheorghe.ro/" style="text-decoration: none;">
                        <strong class="text-warning"> Liviu Gheorghe </strong>
                    </a></p>
            </div>

            <div class="col-md-5 col-lg-4">

                <div class="text-center text-md-end">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 20px;">
                                <i class="bi bi-facebook">
                                </i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 20px;">
                                <i class="bi bi-youtube">
                                </i></a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>


</footer>