{% extends 'base.html' %}


{% block title %} About Us {% endblock %}

{% block content %}

    <section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <br><br><br>
                    <h1 class="text-uppercase text-md-start">
                        Despre Noi
                    </h1>
                    <br><br>
                    <p>
                        Datorita colaborarilor de succes avute atat cu producatorii cat si cu clientii nostrii putem
                        oferta o gama variata de produse si servicii la preturi competitive dupa cum urmeaza:</p>

                    <p> <strong>Produse principale:</strong> Echipamente de incalzire si racire a cladiriilor</p>

                       <p> Societatea noastra a dezvoltat continuu activitatea de comercializare a echipamentului de lucru
                        pentru constructori ce isi desfasoara activitatea in santiere cat si pentru uz casnic.
                    </p>
                    <br><br><br><br><br>
                </div>
            </div>
        </div>


    </section>

{% endblock %}