{% extends 'base.html' %}


{% block title %} About Us {% endblock %}

{% block content %}

    <section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <br><br><br>
                    <h1 class="text-uppercase text-md-start">
                        About Us
                    </h1>
                    <br><br>
                    <p>
                        Thanks to the successful collaborations with both the producers and our customers we can
                        offer a varied range of products and services at competitive prices as follows:
                    </p>

                    <p>
                        <strong>Main products:</strong> Heating and cooling equipment for buildings
                    </p>

                    <p>
                        Our company has continuously developed the activity of commercializing work equipment
                        for builders working on construction sites as well as for domestic use.
                    </p>
                    <br><br><br><br><br>
                </div>
            </div>
        </div>


    </section>

{% endblock %}