{% extends 'base.html' %}


{% block title %} About Us {% endblock %}

{% block content %}

    <section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <br><br><br>
                    <h1 class="text-uppercase text-md-start">
                        Return and delivery policy
                    </h1>
                    <br>
                    <h4>
                        RETURN OF PRODUCTS
                    </h4>

                    <br><br>

                    <p>
                        The consumer has the right to notify the merchant in writing that he is canceling the purchase,
                        without penalties and without citing a reason, within 14 calendar days of receiving the product,
                        in accordance with GEO 34/2014. In this case, the direct costs of returning the products will
                        fall, according to the law, to the Customer.
                    </p>

                    <p>

                        The return can be made by fast courier or directly to our headquarters in
                        <strong>Address</strong>
                    </p>


                    <p>
                        Returns by Romanian Post are not accepted.
                    </p>

                    <p>
                        The counter value of the products is returned exclusively through the bank, within a maximum of
                        15 days from the receipt of the products by transfer to the customer's account.
                    </p>

                    <p>
                        The return value will not include the cost of the initial transport. In the event that during
                        the initial order the customer exceeded the imposed ceiling and benefited from free shipping, in
                        the case of the return of the goods, the counter value will be withheld from the returned value.
                    </p>

                    <p>
                        Please download the return form below and send it completed within 14 days of receiving the
                        product to the email address: <strong>Email</strong>
                    </p>

                    <p>

                        <strong>The right of withdrawal</strong> (art. 9/OGU 34/2014)
                    </p>

                    <p>
                        In the case of contracts concluded at a distance, the economic operator / professional is
                        obliged to provide the consumer with the right of withdrawal, which can be exercised within a
                        period of 14 days.
                    </p>

                    <p>

                        The exercise of the right of withdrawal must be expressed unequivocally by the consumer, with
                        the information of the professional. The professional provides the consumer (in electronic
                        format) with the appropriate options:
                    </p>

                    <p>

                        - withdrawal form;
                    </p>

                    <p>
                        The burden of proof regarding the exercise of the right of withdrawal from a contract rests with
                        the consumer (art. 10 / GEO 34 / 2014).
                    </p>

                    <p>
                        In the case of exercising the right of withdrawal, the professional has the obligation to
                        reimburse the consumer all the amounts received, as the case may be, without undue delay and no
                        later than 14 days from the date on which he is informed about the withdrawal decision (art. 13,
                        paragraph ( 1) / GEO 34 / 2014).
                    </p>

                    <p>
                        The following are exempted from the right of withdrawal regarding distance contracts (art. 16 /
                        OUG 34 / 2014).
                    </p>

                    <p>
                        - service contracts, after the full provision of the services, if the execution has started with
                        the prior consent of the consumer and after he has confirmed that he is aware of the fact that
                        he will lose his right of withdrawal in this case;
                    </p>

                    <p>
                        - providing products or services whose price depends on the fluctuations on the financial
                        market;
                    </p>

                    <p>
                        - supply of products made according to the specifications requested by the consumer;
                    </p>

                    <p>
                        - the supply of sealed products that cannot be returned for health protection or hygiene reasons
                        and that have been unsealed by the consumer;
                    </p>

                    <p>
                        - contracts concluded in auctions.
                    </p>

                    <br><br><br><br><br>

                    <h1>
                        Delivery
                    </h1>
                    <br><br>
                    <p>

                        <strong>Ecom.ro</strong> accepts orders in Romania as well as outside the country.
                    </p>

                    <p>
                        The products are delivered by fast courier companies or by Posta Romana
                    </p>

                    <p>

                        <strong>The delivery cost is 25.00 lei/first kg + 1 lei/kilogram for each additional
                            kilogram</strong>, for
                        localities where there is a courier center (outside these localities a fixed fee of<strong> 0.80
                        lei/km
                        outside + VAT is charged)</strong>. In case the customer does not accept these additional costs,
                        for the
                        localities where there is no fast courier center, exceptionally, and to avoid the generation of
                        additional costs for external kilometers, the shipment can be made by Romanian Post.
                    </p>

                    <p>
                        <strong>Free shipping for orders over 200 lei.</strong>
                    </p>

                    <p>
                        <strong>The delivery time is from 1 to 5 working days, depending on the products ordered by
                            you.</strong>
                    </p>

                    <p>

                        Usually all our products are in stock, delivery is made the next day, but in the case of larger
                        or unforeseen orders, until the stock is updated, the delivery term can be extended up to a
                        maximum of 5 working days.
                    </p>

                    <p>

                        Customers can pick up the products from the store.
                    </p>

                    <br><br><br><br><br>
                </div>
            </div>
        </div>


    </section>

{% endblock %}