{% extends 'base.html' %}


{% block title %} About Us {% endblock %}

{% block content %}

    <section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <br><br><br>
                    <h1 class="text-uppercase text-md-start">
                        Terms & Conditions
                    </h1>
                    <br><br>
                    <p>
                        This document, through its content, makes the Regulation available to third-party users
                        regarding the terms and conditions of use of the Ecom.ro website. </p>

                    <p> The <strong>Ecom.ro</strong> site is operated by <strong>Company</strong>, with
                        headquarters in <strong>location</strong>, registered in the Trade Register with no
                        <strong>Registration Number</strong>. Use of the website (including access, navigation and
                        buying products
                        on this site) constitutes an implicit agreement to respect the terms and conditions
                        stated in the contents of this document with all the effects and consequences arising from it
                        This one. </p>

                    <p> The administrator of the <strong>Ecom.ro</strong> site reserves the right to change anything
                        TIME
                        the content of this agreement, without prior notification of the named persons who use it
                        hereinafter "Users". Users will have permanent access to the terms and conditions of
                        use of the services, to be able to consult them at any time.
                    </p>
                    <br><br><br><br>
                    <h4>
                        Intellectual Property and Site Content
                    </h4>

                    <p>
                        The content of this site may not be used, reproduced, distributed, transmitted, exposed, in
                        other
                        purposes other than those expressly and legally permitted. Extracting any information followed
                        by anything
                        commercial use that exceeds the scope of private copying regulated by law or for
                        sale or licensing and without prior written consent of the owners
                        property rights is a violation of the terms and conditions.
                    </p>
                    <br><br>
                    <p>
                        You also agree not to affect or interfere in any way with the elements of
                        security of the site, with the elements that prevent or restrict the use, copying
                        a content or elements that reinforce the limits of use of the site or the content
                        this one.
                    </p>

                    <h4>
                        The right of consumers to unilaterally terminate the contract
                    </h4>
                    <br><br><br><br>
                    <p>

                        Please make sure you have checked the product specifications. The commercial relations between
                        the buyer and <strong>Ecom.ro</strong> are officially regulated by the Government's Emergency
                        Ordinance no.
                        34/2014, regarding the rights of consumers in contracts concluded with professionals.
                    </p>
                    <br><br>
                    <p>
                        The consumer has the right to notify the merchant in writing that he is canceling the purchase,
                        without penalties and without citing a reason, within 14 days of receiving the product or, in
                        the case of services, from the conclusion of the contract.
                    </p>
                    <br><br>
                    <p>
                        Administratorul <strong>Ecom.ro</strong> face eforturi permanente pentru a pastra acuratetea
                        informatiilor de
                        pe site, insa uneori acestea pot contine inadvertente (specificatiile sau pretul produselor
                        modificate de catre producator fara preaviz sau viciate de erori de operare).
                    </p>

                    <strong>
                        Attention: the photos are informative and may contain accessories that are not included in the
                        standard packages.
                    </strong>
                    <br><br><br><br>

                    <h4>
                        Data privacy policies
                    </h4>
                    <br><br>
                    <p>

                        According to the requirements of Law no. 677/2001 for the protection of individuals with regard
                        to the processing of personal data and the free movement of such data, amended and supplemented,
                        <strong>Company</strong> has the obligation to manage in safe conditions and only for the
                        specified
                        purposes, the personal data that they give us provide about yourself.
                    </p>
                    <br><br>
                    <p>
                        The purpose of data collection is to inform users/customers regarding the evolution and status
                        of orders, evaluation of products and services offered, commercial activities, promotion of
                        products and services, marketing, advertising, media, administrative, development, market
                        research, statistics, tracking and monitoring of sales and consumer behavior.
                    </p>
                    <br><br>
                    <p>

                        By filling in your data in the order form, you declare that you unconditionally accept that your
                        personal data is included in the database of <strong>Company</strong> and you give your express
                        and
                        unequivocal consent for all this personal data to be stored, used and processed
                    </p>
                    <br><br>
                    <p>
                        By reading these Terms and Conditions, you are aware that you are guaranteed the rights provided
                        by law, namely the right to information, the right to access data, the right to intervene, the
                        right to oppose, the right not to be subject to an individual decision, the right to go to court
                        in case of violation of his rights guaranteed by Law 677/2001 for the protection of individuals
                        regarding the processing of personal data and the free circulation of such data. At the same
                        time, you have the right to object to the processing of your personal data and to request their
                        total or partial deletion.
                    </p>
                    <br><br>
                    <p>
                        As a result of expressly formulated requests, your personal information can also be provided to
                        the Prosecutor's Office, the Police, the Courts of Justice and other competent state bodies,
                        based on and within the limits of the legal provisions
                    </p>
                    <br><br><br><br>

                    <h4>
                        Fraud
                    </h4>
                    <br><br>

                    <p>
                        In order to access and use certain sections of the website, it may be necessary to create a
                        personal account. You hereby declare that you assume full responsibility for all and any of the
                        activities carried out through the account you open on the website and, consequently, we advise
                        you to ensure the security of the account password or other access data. If the security of the
                        account you own is compromised, you must immediately notify the site administrator. Ecom.ro
                        is not responsible for damages caused to you or caused to third parties of any kind, through
                        unauthorized use of the account.
                    </p>
                    <br><br><br><br>

                    <h4>
                        Applicable law
                    </h4>
                    <br><br>
                    <p>
                        By using the <strong>Ecom.ro</strong> website, the user agrees that Romanian laws will govern
                        the Terms and
                        Conditions of Use and any dispute of any kind that may arise between users and
                        <strong>Ecom.ro</strong>
                        administrators or associations/partners/affiliates this one. In the event of any conflicts, an
                        amicable solution will be tried first, and if an amicable solution is not possible, the conflict
                        will be resolved in court, in accordance with the Romanian laws in force.
                    </p>
                    <br><br><br><br>

                    <h4>
                        Service availability
                    </h4>
                    <br><br>
                    <p>

                        The <strong>Ecom.ro</strong> administrator reserves the right to modify the structure and
                        interface of any
                        page or sub-pages of the <strong>Ecom.ro</strong> site at any time and at any free time interval
                        chosen,
                        having the right to temporarily or permanently, partially or totally interrupt the services made
                        available to the public through this website without any prior individual or general
                        notification.
                    </p>
                    <br><br>

                    <p>
                        If you have questions or concerns about these terms of use, do not hesitate to contact us via
                        the email address: <strong>Email@Address.com</strong>
                    </p>
                    <br><br><br><br><br>
                </div>
            </div>
        </div>


    </section>

{% endblock %}