{% extends 'base.html' %}
{% load static %}


{% block title %} Ecom - Magazin Online {% endblock %}

{% block content %}

    <div class="container-fluid col-md-12">
        <div class="row">
            {% for product in products %}
                <div class="col-lg-2 col-md-4 col-sm-6 max-auto mb-4">
                    <div class="card h-100" style="width: 18rem;">

                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="Poza" style="height:285px; width: 285px;">
                        {% else %}
                        <img src="{% static 'default/default_product.png' %}" class="card-img-top" alt="Poza">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ product.price }} RON</li>
                            <li class="list-group-item">{{ product.stock }} produse pe stock</li>
                            <li class="list-group-item">Categoria: {{ product.category }}</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'product-detail' product.slug product.id %}" class="btn btn-primary">
                                See Product
                            </a>
                        </div>

                    </div>

                </div>
            {% endfor %}
        </div>
    </div>






    {% include 'products/random_products.html'%}

{% endblock %}
