{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block title %}{{ form.query.label_tag }}{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#<!-- product_search.html -->#}
{#<div class="container">#}
{#    <h2>Product Search</h2>#}
{#    <form method="get" class="mb-4">#}
{#        {{ form.query.label_tag }} {{ form.query }}#}
{#        <button type="submit" class="btn btn-primary">Search</button>#}
{#    </form>#}
{##}
{#    <ul>#}
{#        {% for product in products %}#}
{#            <li>{{ product.name }}</li>#}
{#        {% empty %}#}
{#            <li>No products found.</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</div>#}
{##}
{#{% endblock %}#}
