{% extends 'base.html' %}

{% block title %}Order Details{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Order Details - {{ order.order_number }}</h2>
        <div class="text-center mb-3">
            <strong>Status:</strong> {{ order.status }}
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.total_price }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="text-right font-weight-bold">Grand Total:</td>
                <td class="font-weight-bold">{{ order.get_total_price }}</td>
            </tr>
            </tbody>
        </table>

        <!-- Cancel Order Button -->
        {% if order.status == 'Pending' %}
            <div class="text-center mt-3">
                <form action="{% url 'cancel_order' order.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Cancel Order</button>
                </form>
            </div>
        {% endif %}

        <div class="text-center mt-3">
            <a href="{% url 'view-orders' %}" class="btn btn-secondary">Back to Orders</a>
        </div>
    </div>
    <br><br><br>
{% endblock %}
